h1{text-align: center;}
table{font-size: x-large; text-align: center;}
#T2_C1{background-color:pink;}
.T2{background-color: pink;}
#T1_R1{background-color:coral;}
#T1_C1{background-color: plum;}
#T1_C2{background-color:mediumslateblue; }
#T1_C3{background-color:gold;}
#T1_C13{background-color:forestgreen ;}
#T1_C11{background-color:sienna;}
#T1_C18{background-color:cornflowerblue;}
#T1_C15{background-color: darkgoldenrod;}
#T1_C12{background-color:coral;}